.Rproj.user
.Rhistory
.RData
.Ruserdata
data-viz/inputs/report_outline.xlsx
data-viz/output/data4web_gpp.csv
data-viz/output/data4web_qrq.csv
/data-viz/output/charts
data-viz/output/data4web_gpp.xlsx
data-viz/output/data4web_qrq.xlsx
data-viz/output/data4web_gpp.xlsx
data-viz/output/data4web_gpp.xlsx
data-viz/output/special_datapoints.xlsx
/final-charts/R1
/final-charts/__pycache__
/final-charts/R2
/final-charts/R3
html/example-pdf.pdf
html/csv-schema-example.csv
/final-charts/R1 - reduced
/final-charts/R1 - Copy
/final-charts/reduced
/final-charts/no-tooltip
data-viz/.DS_Store
final-charts/.DS_Store
.DS_Store
data-viz/output/variance_analysis
data-viz/output/variance_analysis.csv
/final-charts/with-tooltip
/final-charts/mini-tables
/html/R1/assets
/html/R3/assets
html/R2/assets/R2B2.svg
html/R2/assets/R2B1.svg
/html/R2/assets
data-viz/Economic_development_GPP.svg
data-viz/Economic_development_QRQ.svg
data-viz/Gender.svg
data-viz/inputs/GPP_QRQ_TPS database.xlsx
data-viz/prueba.xlsx
data-viz/Regions.svg
data-viz/Trust.svg
data-viz/Variance.svg
data-viz/inputs/~$GPP_QRQ_TPS database.xlsx
data-viz/inputs/GPP_QRQ_TPS database-wjp-lt-52.xlsx
data-viz/output/expert_scorecard_data.csv
data-viz/output/expert_scorecard_data.xlsx
/data-viz/output/regional_insights
data-viz/output/Trust.svg
data-viz/output/Variance.svg
/data-viz/output/datasets_for_download
/final-charts/png
/final-charts/node_modules
data-viz/DRM.svg
data-viz/code/EU_DRM.R
html/R2/R2F25.png
data-viz/output/counts_a2j_path.dta
data-viz/output/national_a2j_path.dta
data-viz/output/national_a2j_path.xlsx
data-viz/output/regional_a2j_path.dta
data-viz/output/justice_journey.xlsx
html/__pycache__/text_input.cpython-313.pyc
